<div class="container">
  
<h3>Would you like to add your gallery to the map?</h3>
  <%= link_to "Add Your Gallery", new_gallery_registration_path, class: "btn btn-default"%>

<h3>Already have a listing that you'd like to edit?</h3>
  <%= link_to "Edit Your Gallery", edit_gallery_registration_path, class: "btn btn-default" %>

</div>