<div class="container">
  <div class="jumbotron">
    <h1>Orange Dot Gallery Walk</h1>
    <br>
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
      
      <p>The second Friday of each month. Use the map to find participating galleries. Look for the orange dots on their doors or windows.</p>
      <p>Next Walk: <strong>Friday, September 9th, 2016 from 6-10pm</strong></p>
      <p><%= link_to "View All Galleries", galleries_path, class: "btn btn-primary btn-lg" %>
      <br>
      <br>
      <p>Interested in participating as an artist?
        <button class="btn btn-default" type="submit"><%= link_to "Add Your Gallery", pages_add_your_gallery_path %></button>
      </p>
    </div>
  </div>
<br>
<br>

</div>
</div>
