<div class="container">
  <h1>Instructions for Participating</h1>
  <p>To participate as an orange dot gallery, add all of the required information to the map and then download and post an orange dot on your door so people can find you.</p>
</div>