<div class="container">
  <h1>Galleries</h1>


  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  </script>

  <% @galleries.each do |gallery| %>
    <%= link_to gallery do %>
      <h2><%= gallery.name %></h2>
    <% end %>  
  <% end %>


</div>